<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/main}">
>
<div layout:fragment="content" class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="/">
                <img th:src="@{/users/images/icon.svg}" alt="icon" />
            </a>
            <h3>Change Password</h3>
            <p>Enter a new password to log in</p>
        </div>

        <form th:action="@{/change-password}" class="form auth__form" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <input type="hidden" name="id" th:value="${id}" />
            <!-- Input:Email -->
            <div class="form__field">
                <label for="formInput#password">Password: </label>
                <input
                        class="input input--email"
                        id="formInput#password"
                        type="password"
                        name="password"
                        placeholder="Enter your new password"
                />
                <p th:if="${error1}" class="form__error" th:text="${error1}"></p>
            </div>
            <div class="form__field">
                <label for="formInput#confirmPassword">Confirm Password: </label>
                <input
                        class="input input--email"
                        id="formInput#confirmPassword"
                        type="password"
                        name="confirm-password"
                        placeholder="Confirm your new password"
                />
                <p th:if="${error2}" class="form__error" th:text="${error2}"></p>
            </div>
            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
                <a href="/login">Login</a>
            </div>
        </form>
        <div class="auth__alternative">
            <p>Don’t have an Account?</p>
            <a href="/register">Sign Up</a>
        </div>
    </div>
</div>
