<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/main}">
>
<main layout:fragment="content" class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="/profiles/myaccount"><i class="fa-solid fa-backward-step"></i></a>
            <br>

            <form class="form" method="POST" th:object="${project}" th:action="@{/projects/edit}" enctype="multipart/form-data">

                <input type="hidden" th:field="*{project_id}"/>
                <input type="hidden" th:field="*{vote_ratio}"/>
                <input type="hidden" th:field="*{vote_total}"/>
                <input type="hidden" th:field="*{created}"/>

                <div class="form__field">
                    <label for="formInput#text">Title: </label>
                    <input class="input input--text" id="formInput#text" type="text" name="title"
                           placeholder="Enter title" th:field="*{title}"/>
                    <p style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
                </div>

                <div class="form__field">
                    <label for="formInput#textarea">Description: </label>
                    <textarea th:field="*{description}" class="input input--textarea" name="description" id="formInput#textarea" placeholder="Write something awesome..."></textarea>
                    <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
                </div>

                <div class="form__field">
                    <label for="formInput#text">Project Image: </label>
                    <input class="input input--file" id="imgInput" type="file" name="img"
                           th:placeholder="${project.project_image}" accept="image/*"/>
                    <br>
                    <img id="previewImg" th:src="@{'/media/projects/' + ${project.project_image}}" style="width: 100px; height: 100px; object-fit:cover;"/>
                    <p style="color: red" th:if="${#fields.hasErrors('project_image')}" th:errors="*{project_image}">Project Image Error</p>
                </div>
                <div class="form__field">
                    <label for="formInput#text">Demo Link: </label>
                    <input class="input input--text" id="formInput#text" type="text" name="demo_link"
                           placeholder="Enter demo link" th:field="*{demo_link}"/>
                    <p style="color: red" th:if="${#fields.hasErrors('demo_link')}" th:errors="*{demo_link}">Demo Link Error</p>
                </div>
                <div class="form__field">
                    <label for="formInput#text">Source Code: </label>
                    <input class="input input--text" id="formInput#text" type="text" name="source_code"
                           placeholder="Enter source code" th:field="*{source_code}"/>
                    <p style="color: red" th:if="${#fields.hasErrors('source_code')}" th:errors="*{source_code}">Source Code Error</p>
                </div>
                <div class="form__field form__field--checkbox">
                    <p>Tag: </p>
                    <div th:each="tag: ${tags}">
                        <input
                                class="input input--checkbox"
                                id="formInput#checkbox-01"
                                type="checkbox"
                                th:value="${tag.tag_id}"
                                name="tagId"
                                th:checked="${project != null && project.tag != null && tag != null && project.tag.contains(tag)}"
                        />
                        <label for="formInput#checkbox-01" th:text="${tag.name}"></label>
                    </div>
                    <p style="color: red" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Tag Error</p>
                </div>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
</html>