<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/main}">
>
<div layout:fragment="content">
    <main class="profile my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <div class="card text-center">
                        <div class="card__body dev">
                            <img class="avatar avatar--xl" th:src="@{'/media/profiles/' + ${profile.profile_image}}"/>
                            <h2 class="dev__name" th:text="${profile.name}"></h2>
                            <p class="dev__title" th:text="${profile.headline}"></p>
                            <p class="dev__location" th:text="${profile.address}"></p>
                            <ul class="dev__social">
                                <li th:if="${profile.social_github}">
                                    <a title="Github" th:href="${profile.social_github}" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
                                </li>
                                <li th:if="${profile.social_youtube}">
                                    <a title="Youtube" th:href="${profile.social_youtube}" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </li>
                                <li th:if="${profile.social_facebook}">
                                    <a title="Facebook" th:href="${profile.social_facebook}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                </li>
                                <li th:if="${profile.social_twitter}">
                                    <a title="Twitter" th:href="${profile.social_twitter}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li th:if="${profile.social_tiktok}">
                                    <a title="Tiktok" th:href="${profile.social_tiktok}" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                                </li>
                            </ul>
                            <a th:href="@{'/inbox/add/'+${profile.profile_id}}" class="btn btn--sub btn--lg">Send Message </a>
                        </div>
                    </div>
                </div>
                <div class="column column--2of3">
                    <div class="devInfo">
                        <h3 class="devInfo__title">About Me</h3>
                        <p class="devInfo__about"th:text="${profile.bio}">
                        </p>
                    </div>
                    <div class="devInfo">
                        <h3 class="devInfo__title">Skills</h3>
                        <div class="devInfo__skills">
                            <div class="devSkill" th:each="skill : ${profile.skills}">
                                <h4 class="devSkill__title" th:text="${skill.name}"></h4>
                                <p class="devSkill__info" th:text="${skill.description}">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="devInfo">
                        <h3 class="devInfo__title">Projects</h3>
                        <div class="grid grid--two">

                            <div class="column" th:each="project: ${profile.projects}">
                                <div class="card project">
                                    <a th:href="@{/projects/{id}(id=${project.project_id})}" class="project">
                                        <img class="project__thumbnail" th:src="@{'/media/projects/' + ${project.project_image}}" alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title" th:text="${project.title}"></h3>
                                            <p><a class="project__author" th:href="@{/profiles/{id}(id=${profile.profile_id})}" th:text="'By ' + ${profile.name}"></a></p>
                                            <p class="project--rating">
                                                <span th:if="${project.vote_total > 1}" style="font-weight: bold;" th:text="${T(java.lang.Math).round(project.vote_ratio)} + ' % Positive Feedback (' + ${project.vote_total} + ' Votes)'"></span>
                                                <span th:if="${project.vote_total == 1}" style="font-weight: bold;" th:text="${T(java.lang.Math).round(project.vote_ratio)} + ' % Positive Feedback (' + ${project.vote_total} + ' Vote)'"></span>
                                                <span th:if="${project.vote_total == 0}" style="font-weight: bold;" th:text="'No Feedback Yet'"></span>
                                            </p>
                                            <div class="project__tags">
                                                <span class="tag tag--pill tag--main" th:each="tag: ${project.tag}">
                                                  <small th:text="${tag.name}"></small>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>