<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/main}">
<div layout:fragment="content">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Projects</span></h2>
            </div>

            <div class="hero-section__search">
                <form class="form form-ajax-project" action="/projects" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="keyword" th:value="${keyword}"
                               placeholder="Search by Project" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">
                <div class="column" th:each="project: ${projects}">
                    <div class="card project">
                        <a th:href="@{'projects/' + ${project.project_id}}" class="project">
                            <img class="project__thumbnail" th:src="@{'/media/projects/' + ${project.project_image}}" alt="project thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title" th:text="${project.title}"></h3>
                                <p><a class="project__author" th:text="'By ' + ${project.profile.name}" href=""></a></p>
                                <p class="project--rating">
                                    <span th:if="${project.vote_total > 1}" style="font-weight: bold;" th:text="${T(java.lang.Math).round(project.vote_ratio)} + ' % Positive Feedback (' + ${project.vote_total} + ' Votes)'"></span>
                                    <span th:if="${project.vote_total == 1}" style="font-weight: bold;" th:text="${T(java.lang.Math).round(project.vote_ratio)} + ' % Positive Feedback (' + ${project.vote_total} + ' Vote)'"></span>
                                    <span th:if="${project.vote_total == 0}" style="font-weight: bold;" th:text="'No Feedback Yet'"></span>
                                </p>
                                <div class="project__tags">
                                    <span th:each="tag: ${project.tag}" class="tag tag--pill tag--main">
                                      <small th:text="${tag.name}"></small>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pagination pagination-project">
        <ul class="container" th:if="${totalPages > 1}">
            <li>
                <a th:if="${page > 1}" th:href="@{'?page=' + (${page} - 1) + '&keyword=' + ${keyword}}"
                   th:class="${page > 1 ? 'btn' : 'btn btn--disabled'}" th:attr="data-page=(${page} - 1)">&#10094; Prev</a>
            </li>
            <li th:each="pageNumber : ${pages}">
                <a th:href="@{'?page=' + ${pageNumber} + '&keyword=' + ${keyword}}"
                   th:classappend="${pageNumber == page ? 'btn btn--sub' : 'btn'}"
                   th:text="${pageNumber}" th:attr="data-page=${pageNumber}"></a>
            </li>
            <li>
                <a th:if="${page < totalPages}" th:href="@{'?page=' + (${page} + 1) + '&keyword=' + ${keyword}}"
                   th:class="${page < totalPages ? 'btn' : 'btn btn--disabled'}" th:attr="data-page=(${page} + 1)">Next &#10095;</a>
            </li>
        </ul>
    </div>
</div>