<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/main}">
<div layout:fragment="content">
    <main class="singleProject my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                    <div class="singleProject__toolStack">
                        <span class="tag tag--pill tag--sub tag--lg" th:each="tag: ${project.tag}">
                            <small th:text="${tag.name}"></small>
                        </span>
                    </div>
                    <a class="singleProject__liveLink" th:href="${project.demo_link}" target="_blank"><i class="fa-solid fa-link"></i>Source Code
                    </a>
                </div>
                <div class="column column--2of3">
                    <img class="singleProject__preview" th:src="@{'/media/projects/' + ${project.project_image}}" alt="portfolio thumbnail" />
                    <a th:href="@{/profiles/{id}(id=${project.profile.profile_id})}" class="singleProject__developer" th:text="${project.profile.name}"></a>
                    <h2 class="singleProject__title" th:text="${project.title}"></h2>
                    <h3 class="singleProject__subtitle">About the Project</h3>
                    <div class="singleProject__info">
                        <p th:text="${project.description}"></p>
                    </div>

                    <div class="comments">
                        <h3 class="singleProject__subtitle">Feedback</h3>
                        <p class="project-rating" th:if="${project.vote_total > 1}" style="font-weight: bold;" th:text="${T(java.lang.Math).round(project.vote_ratio)} + ' % Positive Feedback (' + ${project.vote_total} + ' Votes)'"></p>
                        <p class="project-rating" th:if="${project.vote_total == 1}" style="font-weight: bold;" th:text="${T(java.lang.Math).round(project.vote_ratio)} + ' % Positive Feedback (' + ${project.vote_total} + ' Vote)'"></p>
                        <p class="project-rating" th:if="${project.vote_total == 0}" style="font-weight: bold;" th:text="'No Feedback Yet'"></p>
                        </h5>

                        <form th:if="${ok == 1}" class="form" th:action="@{'/review/add/' + ${project.project_id}}" th:object="${review}" method="POST">
                            <!-- Textarea -->
                            <p class="form__error" th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}"></p>
                            <label>Rating: </label>
                            <select class="input input--select" th:field="*{value}">
                                <option value="0">Down vote</option>
                                <option value="1">Up vote</option>
                            </select>
                            <div class="form__field">
                                <label for="formInput#textarea">Comments: </label>
                                <textarea class="input input--textarea" th:field="*{body}" id="formInput#textarea"
                                          placeholder="Write your comments here..."></textarea>
                                <p class="form__error" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
                            </div>
                            <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
                        </form>
                        <p th:if="${ok == 0}" class="alert alert--warning">
                            You have already rated it, you can't rate it anymore =))
                        </p>
                        <p th:if="${ok == 2}" class = "alert alert--error">
                            You cannot evaluate your project
                        </p>
                        <div class="commentList">
                            <div class="comment" th:each="review: ${project.reviews}">
                                <a th:href="@{/profiles/{id}(id=${review.profile.profile_id})}">
                                    <img class="avatar avatar--md"
                                         th:src="@{'/media/profiles/' + ${review.profile.profile_image}}" alt="user" />
                                </a>
                                <div class="comment__details">
                                    <a th:href="@{/profiles/{id}(id=${review.profile.profile_id})}" class="comment__author" th:text="${review.profile.name}"></a>
                                    <p class="comment__info" th:text="${review.body}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>