<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/main}">
>
<div layout:fragment="content" class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="/">
                <img th:src="@{/users/images/icon.svg}" alt="icon" />
            </a>
            <h3>Forget Password?</h3>
            <p>Reset password by entering the email address</p>
        </div>

        <form th:action="@{/reset-password}" class="form auth__form" method="post">
            <!-- Input:Email -->
            <div class="form__field">
                <label for="formInput#email">Email Address: </label>
                <input
                        class="input input--email"
                        id="formInput#email"
                        type="email"
                        name="email"
                        placeholder="e.g. user@domain.com"
                />
                <p th:if="${error}" class="form__error" th:text="${error}"></p>
                <p th:if="${message}" th:text="${message}" style="color: green; font-weight: bold;"></p>
            </div>

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
                <a href="/login">Login</a>
            </div>
        </form>
        <div class="auth__alternative">
            <p>Don’t have an Account?</p>
            <a href="/register">Sign Up</a>
        </div>
    </div>
</div>
