<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/main.html}"
>
<div layout:fragment="content" class="card">
    <div class="card-body">
        <form class="forms-sample" th:action="@{/admin/profiles/add}" th:object="${profile}" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Owner</label>
                <div class="col-sm-9">
                    <select class="js-example-basic-single" style="width:100%" name="enable" th:field="*{user}">
                        <option th:if="${users != null}" th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="name" th:field="*{name}" placeholder="Name">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Headline</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="headline" th:field="*{headline}" placeholder="Headline">
                    <p th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Bio</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="bio" th:field="*{bio}" placeholder="Bio">
                    <p th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="address" th:field="*{address}" placeholder="Address">
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Profile Image</label>
                <input id="imgInput" type="file" name="img" class="file-upload-default" accept="image/*">
                <div class="input-group col-sm-9">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append" >
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                    <div style="width: 100%">
                        <img id="previewImg" style="height: 100px; width: 100px; object-fit: cover;border-radius: 0;">
                        <p th:if="${#fields.hasErrors('profile_image')}" th:errors="*{profile_image}" class="text-danger"></p>
                    </div>
                </div>
            </div>
            <!--            Social_Github-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Github</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="social_github" th:field="*{social_github}" placeholder="Github">
                    <p th:if="${#fields.hasErrors('social_github')}" th:errors="*{social_github}" class="text-danger"></p>
                </div>
            </div>
            <!--            Social_Youtube-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Youtube</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="social_youtube" th:field="*{social_youtube}" placeholder="Youtube">
                    <p th:if="${#fields.hasErrors('social_youtube')}" th:errors="*{social_youtube}" class="text-danger"></p>
                </div>
            </div>
            <!--            Social_Facebook-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Facebook</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="social_facebook" th:field="*{social_facebook}" placeholder="Facebook">
                    <p th:if="${#fields.hasErrors('social_facebook')}" th:errors="*{social_facebook}" class="text-danger"></p>
                </div>
            </div>
            <!--            Social_Tiktok-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tiktok</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="social_tiktok" th:field="*{social_tiktok}" placeholder="Tiktok">
                    <p th:if="${#fields.hasErrors('social_tiktok')}" th:errors="*{social_tiktok}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Twitter</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="social_twitter" th:field="*{social_twitter}" placeholder="Twitter">
                    <p th:if="${#fields.hasErrors('social_twitter')}" th:errors="*{social_twitter}" class="text-danger"></p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a th:href="@{/admin/profiles}" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>
</html>